.btn {
    background-color: gray;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.3;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: red;
    opacity: 1;
  }