<div class="row list-group-item clearfix">
  <span style="cursor: pointer;" class="col-md-5">
    <a routerLink="/produto/{{product.p_id}}">
      <h4 class="list-group-item-text">{{ product.p_nome }}</h4>
      <p class="list-group-item-text">R$ {{ product.p_precoAtual }}</p>
    </a>
  </span>
    
  <span class="col-md-2">
    <img [src]="product.p_urlPrincipalImage" alt="{{ product.p_nome }}" class="img-responsive" style="max-height: 100px;">
  </span>

  <span class="col-md-2">
    <label for="name">Preço</label>
    {{ product.p_precoAtual }}
  </span>
    
  <span class="col-md-1">
    <label for="name">Quantidade</label>
    <input type="number" id="name" class="form-control" [(ngModel)]="product.p_quantidade" (ngModelChange)="update(product.p_quantidade, product.p_id)">
  </span>
  <span class="col-md-1">
    <button class="btn" (click)="deleteProductCart(product.p_id)"><i class="fas fa-trash-alt fa-2x"></i></button>
  </span>
</div>