<h1>Produtos mais vendidos por categoria</h1>

<h2>Eletrodomeesticos</h2>
<app-product-carousel [products]="produtosMaisVendidosEletroDomesticos" ></app-product-carousel>

<h2>Informática</h2>
<app-product-carousel [products]="produtosMaisVendidosInformatica" ></app-product-carousel>

<h2>Móveis</h2>
<app-product-carousel [products]="produtosMaisVendidosMoveis" ></app-product-carousel>

<h2>Telefones celulares</h2>
<app-product-carousel [products]="produtosMaisVendidosTelefonesCelulares" ></app-product-carousel>

<h2>Utilidades domésticas</h2>
<app-product-carousel [products]="produtosMaisVendidosUtilidadesDomesticas" ></app-product-carousel>

<h2>Esportes</h2>
<app-product-carousel [products]="produtosMaisVendidosEsportes" ></app-product-carousel>

<h2>Tv e vídeo</h2>
<app-product-carousel [products]="produtosMaisVendidosTvVideo" ></app-product-carousel>