<div>
    <div class="jumbotron">
        <h1>Produtos em destaque</h1>
        <p>Produtos mais vendidos por categoria. Não perca tempo e garanta o seu antes que os estoques sejam esgotados!</p>
    </div>

    <h2>Eletrodomesticos</h2>
    <app-product-carousel [products]="produtosMaisVendidosEletroDomesticos" ></app-product-carousel>
    
    <h2>Informática</h2>
    <app-product-carousel [products]="produtosMaisVendidosInformatica" ></app-product-carousel>
    
    <h2>Móveis</h2>
    <app-product-carousel [products]="produtosMaisVendidosMoveis" ></app-product-carousel>
    
    <h2>Telefones celulares</h2>
    <app-product-carousel [products]="produtosMaisVendidosTelefonesCelulares" ></app-product-carousel>
    
    <h2>Utilidades domésticas</h2>
    <app-product-carousel [products]="produtosMaisVendidosUtilidadesDomestricas" ></app-product-carousel>
    
    <h2>Esportes</h2>
    <app-product-carousel [products]="produtosMaisVendidosEsporte" ></app-product-carousel>
    
    <h2>Tv e vídeo</h2>
    <app-product-carousel [products]="produtosMaisVendidosTvVideo" ></app-product-carousel>

</div>
