
    <div class="col-lg-3">
        <h3 class="my-4">Categorias</h3>
        <div class="list-group">
            <a class="list-group-item" (click)="onCategoryClick(1)"><i class="fas fa-plug"></i> Eletrodomesticos</a>
            <a class="list-group-item" (click)="onCategoryClick(2)"><i class="far fa-keyboard"></i> Informática</a>
            <a class="list-group-item" (click)="onCategoryClick(3)"><i class="fas fa-couch"></i> Móveis</a>
            <a class="list-group-item" (click)="onCategoryClick(4)"><i class="fas fa-mobile"></i> Telefones e celulares</a>
            <a class="list-group-item" (click)="onCategoryClick(5)"><i class="fas fa-home"></i> Utilidades domésticas</a>
            <a class="list-group-item" (click)="onCategoryClick(6)"><i class="fas fa-basketball-ball"></i> Esportes</a>
            <a class="list-group-item" (click)="onCategoryClick(7)"><i class="fas fa-desktop"></i> Tv e vídeo</a>
        </div>
    </div>
    
    <div class="col-lg-9" *ngIf="exibirComponentCategoria == false">
        <app-catalogue-best-products></app-catalogue-best-products>
    </div>

    <div class="col-lg-9" *ngIf="exibirComponentCategoria == true">
        <app-catalogue-products-categories [idCategoria]="idCategoria"></app-catalogue-products-categories>
    </div>




