<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-12">
        <h3>{{ product.p_nome }}</h3>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-xs-7">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
          <div ngxSlickItem *ngFor="let photo of photos" class="slider">
            <img src="{{ photo }}" alt="100px" width="400px">
          </div>
        </ngx-slick-carousel>
      </div>
      <div class="col-xs-5">
        <div>
          <p>{{product.p_descricaoBreve}}</p>
          <p>{{product.p_descricaoDetalhada}}</p>
        </div>
        <div class="form-group">
            <label for="name">Preço</label>
            <p>{{product.p_precoAtual}}</p>
          </div>
      </div>
      <div class="col-xs-2">
        <div class="form-group">
          <label for="name">Quantidade</label>
          <input type="number" id="name" class="form-control" [(ngModel)]="product.p_quantidade">
        </div>
        <button type="button" class="btn btn-success" (click)="onAddProductCart()">Adicionar no meu carrinho</button>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="panel panel-default">
    <h2>Descrição do produto</h2>
    <div class="panel-body">
      <table class="table table-bordered">
        <tr>
          <td>Descrição breve</td>
          <td>{{ product.p_descricaoBreve }}</td>
        </tr>
        <tr>
          <td>Descrição breve</td>
          <td>{{ product.p_descricaoDetalhada }}</td>
        </tr>
        <tr>
          <td>Marca</td>
          <td>{{ product.p_marca }}</td>
        </tr>
        <tr>
          <td>Modelo</td>
          <td>{{ product.p_modelo }}</td>
        </tr>
        <tr>
          <td>Preço</td>
          <td>{{ product.p_precoAtual }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>